# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001

# Google OAuth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1028484709051-uglk06c1ofmht1cjamflh6qo29c7jvnf.apps.googleusercontent.com

# Analytics (Optional)
# NEXT_PUBLIC_GA_ID=your-google-analytics-id
