-- Targeted migration for enabling local JWT auth
-- Safe updates: add password/firstName/lastName and relax auth0Id requirement

ALTER TABLE "User" ALTER COLUMN "auth0Id" DROP NOT NULL;
ALTER TABLE "User" ADD COLUMN IF NOT EXISTS "password" TEXT;
ALTER TABLE "User" ADD COLUMN IF NOT EXISTS "firstName" TEXT;
ALTER TABLE "User" ADD COLUMN IF NOT EXISTS "lastName" TEXT;

